<div [ngClass]="alertaStyle" class="alert" role="alert">
    A simple primary alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
</div>

<button class="btn btn-primary m-1" (click)="alertaStyle = 'alert-primary'">
    primary
</button>
<button class="btn btn-info m-1" (click)="alertaStyle = 'alert-info'">
    info
</button>
<button class="btn btn-success m-1" (click)="alertaStyle = 'alert-success'">
    success
</button>
<button class="btn btn-danger m-1" (click)="alertaStyle = 'alert-danger'">
    danger
</button>

<br><br>

<h3 [ngClass]="{ 'text-danger' : propiedades.danger, 'text-info' : !propiedades.danger }">
    Hola Mundo
</h3>

<button (click)="propiedades.danger = !propiedades.danger" class="btn m-1" name="button" [ngClass]="{ 'btn-danger' : propiedades.danger, 'btn-info' : !propiedades.danger }">
    cambiar
</button>


<br><br>

<h3>Proceso Asincrono</h3>
<button class=" btn btn-primary" (click)="ejecutar()" [disabled]="loading">
    <i class=" fas" [ngClass]="{ 'fa-save' : !loading , ' fa-sync fa-spin' : loading}"></i>
    <span *ngIf="!loading" class="m-2">Guardar cambios</span>
    <span *ngIf="loading" class="m-2">Espere por favor</span>
</button>